.dark-content {
    color:white;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    &.btn:hover {
        color: #e8e8e8;
    }
}

.img-circle {
    border-radius:  50%;
}

.bg-primary {
    background: linear-gradient(105.63deg, black -21%, white 147%);
}

.block-section {
    min-height: 100vh;
}