.skillsets {

    .skillset {
        margin-top:20px;
        margin-bottom: 20px;

        .skillset-heading {
            font-size:16px;
            text-transform: uppercase;
            font-weight: 700;
            color: #797979;
            letter-spacing: 1px;
            margin-bottom: 5px;
        }
    }
}